@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --Cwhite: hsl(0, 0%, 100%);
    --ClightGrey: hsl(212, 45%, 89%);
    --CgrayishBlue: hsla(219, 15%, 55%, 0.239);
    --CdarkBlue: hsl(218, 44%, 22%);
    --CbodyBG: rgb(213,225,239)
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--CbodyBG);
    /* border: 2px solid blue; */

}
.container{
    display: flex;
    height: 580px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Cwhite);
    border-radius: 20px;
    padding: 20px;
    gap: 0;
    box-shadow: 0px 15px 20px #cfd1df7a;
    transform: scale(0.93);

}


/* images */
img{
    transform: translateY(-8.5%) scale(0.55);
    border-radius: 20px;
}
/* desc */
.desc{
    text-align: center;
    transform: translateY(-190%);
    font-size: 1.1rem;
}
.boldd{
    transform: translateY(-230%);
    font-weight: 800;
    font-size: 1.6rem;
}
.ogDesc{
    color: rgb(132, 134, 138);
}

.attribution{
    display: block;
    position: fixed;
    bottom: 5%;
    color: rgb(132, 134, 138);

}
a{
    color: var(--CdarkBlue);
    text-decoration: none;
}